@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center pt-5">
    <h1 class="display-1 pt-5 text-danger fw-bold">Home</h1>
    <p class="fw-bold pt-3 pb-5 fs-5">Please Click <a class="text-danger" href="/Students/Index">Add New Student Info</a> to Add New Student Entry</p>
    <img src="images/studentinfo.png" class="img-fluid pt-5" alt="studentinfo">
</div>
